.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .detailHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px;

    &Btn {
      width: 26px;
      height: 26px;
    }
    &Title {
      justify-self: center;
    }
  }
  .markdownContainer {
    flex: 1;
    box-sizing: border-box;
    padding: 16px 29px;
    width: 100%;
    background-color: pink;
    white-space: pre-line;
  }
}
